*{ 
	margin: 0;
	padding: 0;
}

body{
	font-family: sans-serif;
}

.navbar{

	background-color: #36A1D4; /*Celestial Blue*/
	/*background-image:linear-gradient(to right, #a517ba, #5f1782);
	*/
}

.navbar-nav li{
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 10px;
	padding-left: 10px;
}

.navbar-nav li a{
	color:  #fff !important; /*overrides other attributes?*/
	font-weight: 600;
	float: right; /* to set menu to the right*/
	text-align:  left;
}

.fa-bars
{
	color: #fff;
	font-size: 30px !imporant;
}

.navbar-toggler
{
	outline: none !important;
}

#jumbo{
	background-color: #36A1D4;
}

#opening{
	color: white;
	margin-top: 300px;
}

#coffeeicon{
	color: white;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 0px;
}

#coffeeicon1{
	color: #964B00;
	text-align: center;
	padding-top: 80px;
	padding-bottom: 30px;
}

#coffeeicon2{
	color: white;
	text-align: center;
	padding-top: 200px;
	padding-bottom: 0px;
}

.grad-photo{
	height: 800px;
	width: 650px;
}

#header-button{

	text-decoration: none;
	color: white;
	text-align: center;
	border-radius: 2px;
	background-color: #77BFE2;
}

#about-me{

}

#my-projects
{
	background-color: #77BFE2;
	padding-bottom: 50px;
	color: white;
} 
#mapofparis
{
	margin-top: 60px;
	width: 600px;
	height:480px;
}
#my-form{
	background-color: #f8f9fa;

}
#my-social-media
{
	background-color: #36A1D4;
	padding:  100px 0;
}

#my-social-media p
{
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
}

.icons i{

	color: white;
	width: 60px;
	height: 60px;
	transition:  0.5s;

}

.icons a:hover i{

	transform:  translateY(-10px);
}

#socmedlinks{

	color: white;
	font-size: 16px;
}

.project{
	margin-top: 20px;
}

.projecttext{
	padding-top: 20px;
}

#my-projects{
	padding: 80px 0;
}

.my-projectsimg{
	width: 300px;
	border-radius: 10%;
	
}


.my-projects{
	padding: 10px;
}

.my-projects-header{
	padding-bottom: 100px;
}