*{ 
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;
}

body{
	
}

.navbar{

	background-color: #36A1D4; /*Celestial Blue*/
	/*background-image:linear-gradient(to right, #a517ba, #5f1782);
	*/
}

.navbar-nav li{
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 10px;
	padding-left: 10px;
}

	
.navbar-brand{
	color: #fff !important;
	position: relative;
}

.navbar-brand:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navbar-brand:hover:after { 
  width: 100%; 
  left: 0; 
}

.navbar-brand{

}
.navbar-nav li a{
	color:  #fff !important; /*overrides other attributes?*/
	font-weight: 600;
	float: right; /* to set menu to the right*/
	text-align:  left;
}

.fa-bars
{
	color: #fff;
	font-size: 30px !imporant;
}

.navbar-toggler
{
	outline: none !important;
}


#navbarNav ul li a {
  position:relative;
  z-index: 1;
}
#navbarNav ul li a:hover {
  color: #91640F;
}
#navbarNav ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #77BFE2;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
#navbarNav ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}
#jumbo{
	background-color: #36A1D4;
}

#opening{
	color: white;
	margin: auto;
	text-align: center;
}

#coffeeicon{
	color: white;
	text-align: center;
	padding-top: 70px;
	padding-bottom: 0px;
}

#coffeeicon1{
	color: #964B00;
	text-align: center;
	padding-top: 0px;
	margin-bottom: 30px;
}

#coffeeicon2{
	color: white;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 0px;
}

#coffeeicon3{
	color: #964B00;
	text-align: center;
	align-items: end;
	margin-top: 50px;
	padding-bottom: 30px;
}

.about-the-server{
	margin-top: 10px;
	text-align: center;
}
.details{
	margin-top: 0px;
	text-align: center;
}

.grad-photo{
	width: 100%;
	height:100%;
	text-align: center;
	align-items: center;
	padding: 14px;
	opacity: 0.5;
}

.grad-photo:hover
{
    opacity: 1;
}
/*#header-button{

	text-decoration: none;
	color: white;
	text-align: center;
	border-radius: 2px;
	background-color: #77BFE2;
}
*/

#header-button {
  border-radius: 4px;
  background-color: #77BFE2;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

#header-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#header-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#header-button:hover span {
  padding-right: 25px;
}

#header-button:hover span:after {
  opacity: 1;
  right: 0;
}

#about-me{

}

#my-projects
{
	background-color: #77BFE2;
	padding-bottom: 50px;
	color: white;
} 
#mapofparis
{
	margin-top: 20px;
	margin-bottom: 30px;
	width: 100%;
	height:100%;
}
#my-form{
	background-color: #f8f9fa;

}
#my-social-media
{
	color: white;
	background-color: #36A1D4;
	padding:  50px 0;
	font-size: 18px;
}

#my-social-media p
{
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
}

.icons i{

	color: white;
	width: 60px;
	height: 60px;
	transition:  0.5s;

}

.icons a:hover i{

	transform:  translateY(-10px);
}

#socmedlinks{

	color: white;
	font-size: 16px;
}

.project{
	margin-top: 20px;
}

.projecttext{
	padding-top: 20px;
}

#my-projects{
	padding: 80px 0;
}

.my-projectsimg{
	width: 300px;
	border-radius: 10%;
	
}


.my-projects{
	padding: 10px;
}

.my-projects-header{
	padding-bottom: 100px;
}

.newsletter{
	text-align: center;

}

.emailbtn
{
	display: block;
	margin-top: 5px;
}

/*
.hoverdesign{
	position: relative;
}
.hoverdesign:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.hoverdesign:hover:after { 
  width: 100%; 
  left: 0; 
}
*/